<p>Hey Swapnil,</p>

<p>Query has arrived from {{fullName}}</p>


<p><b>Email : </b> {{email}}</p>
<p><b>Contact : </b> {{phoneNumber}}</p>
<p><b>Query :</b> {{message}}</p>

<p>Regards</p>
<p>Swapnil</p>